/*Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* Global Styles */
body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 1.25;
    font-size: 1em;
    color: black;
}

h1, h2, h3 {
    font-family: 'Creepster', serif;
    font-weight: 400;
    color: rebeccapurple;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.875em;
}

blockquote {
    background: lavender;
    width: 85%;
    display: block;
    margin: 0 auto;
    border: rebeccapurple 0.0625em solid;
    padding: 0.9375em;
    margin-bottom: 1.25em;
    line-height: 1.5;
}

cite {
    font-size: .75em;
    padding-top: 1.25em;
}

p {
    padding-bottom: 1.25em;
    line-height: 1.5;
    width: 90%;
    padding-left: 2.5em;
}

/* Wrapper Styles */

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: 400;
    background: white;
}

.wrapper > * {
    padding: 0.625em;
    flex: 1 100%;
}

/* Header Styles */

header {
    width: 100%;
    background-color: #fff;
    margin-top: 0;
    padding-bottom: 1.25em;
    padding-top: 0.625em;
    display: flex;
}

header h1 {
    font-size: 6.25em;
    margin: 0 auto;
}

/* Navigation Styles */

.navbar__one {
    width: 100%;
    background: black;
    height: 3.125em;
    margin: 0;
    z-index: 99;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
}

.nav__one {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
}

.menu-item {
    height: auto;
    width: 8.4875em;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 1em 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
}

.menu-item a {
    padding: 1em 0;
    text-decoration: none;
    color: white;
    display: block;
}

.nav__one a:active {
    color: rebeccapurple;
}

.nav__one a:hover {
    color: mediumpurple;
}

.nav__one a:visited {
    color: lightgray;
}

.nav__one li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}

.nav__one li:hover ul {
    display: block;
}

.nav_one li ul li {
    background: black;
    color: white;
}

/* Content Main */

.archive__header {
    font-size: 3.75em;
    text-align: center;
    margin-bottom: 1.25em;
}

.wrap_it_up {
    margin: 0 auto;
    text-align: center;
}

.credits_list {
    text-align: center;
}

.credits_list a {
    text-decoration: none;
    color: rebeccapurple;
}

.credits_list a:active {
    color: mediumpurple;
}

.credits_list a:hover {
    color: mediumpurple;
}

.credits_list a:visited {
    color: black;
}

.credits_header {
    font-size: 1.875em;
    text-align: center;
}

.choose_your_adventure {
    height: auto;
    width: auto;
    max-height: 12.5em;
    padding-right: .9375em;
    padding-left: .9375em;
}

.what_to_read {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.content__main {
    width: 100%;
}

.main {
    float: left;
    width: 75%;
}

.sidebar {
    float: right;
    width: 25%;
}

.the__title {
    line-height: 1.5;
}

.when__posted {
    line-height: 1;
    margin-top: .3125em;
    margin-bottom: 1.875em;
    padding-bottom: 1.25em;
    font-size: 0.9375em;
}

.the__post {
    padding-bottom: 1.875em;
}
/* Post Styles */

.postlist {
    max-width: 90%;
    margin: 1.25em auto;
}

.postlist__link {
    color: rebeccapurple;
    font-family: 'Creepster', serif;
    text-decoration: none;
    font-size: 3.125em;
    font-weight: 700;
    line-height: 1.5;
}

.postlist__time {
    font-size: 1.25em;
    line-height: 1.5;
    padding-bottom: 1.25em;
    font-family: 'Creepster', serif;
    color: black;
}

.post__url {
    text-decoration: none;
}

.post {
    max-width: 90%;
    margin: 1.875em auto;
    background: white;
    padding: .625em;
}

.single__post {
    margin-left: 0;
    padding-left: 0;
}

.post-title {
    margin-top: 3.125em;
    line-height:90%;
    padding-left: 5.625em;
}

.post-date {
    line-height: 130%;
    padding-left: 5.625em;
}

.post__title {
    padding-left: 2.5em;
    padding-bottom: .625em;
}

.post__date {
    padding-left: 2.5em;
    padding-bottom: 1.25em;
    font-size: 1em;
}

.pagination {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.pagination a {
    text-decoration: none;
    color: rebeccapurple;
}

.pagination__link {
    font-size: 1em;
}


/* Movie Review Posts */

.movie__info img {
height: auto;
width: auto;
max-width: 9.375em;
max-height: 18.75em;
padding-right: .9375em;
padding-left: .9875em;
}

.movie__info {
    border: .1875em dashed rebeccapurple;
    outline: .1875em dashed black;
    outline-offset: .3125em;
    margin-bottom: 2.5em;
    min-height: 15.625em;
    padding-top: .9375em;
    width: 87%;
    margin-left: 2.8125em;
    margin-top: 1.875em;
}

/* Sidebar Styles */

.sidebar {
    margin-top: 1.25em;
}
.author__bio {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
}

.author__photo {
    height: 50%;
    width: 50%;
    border-radius: 6.25em;
    display: block;
    margin: 0 auto;
}

.author__intro {
    margin-left: 2.5em;
}

.author__info {
    padding-top: .9375em;
}

.author__info a {
    text-decoration: none;
    color: deeppink;
}

.horror__fan {
    color: rebeccapurple;
}

.bookworm {
    color: darkgreen;
}

.web__dev {
    color: blue;
}

.metalhead {
    color: rebeccapurple;
}


/* Film Diary */

.film__entry {
    padding: .625em;
    margin: .625em;
}

.film__entry img {
    padding-right: .9375em;
}

.film__info {
    padding: .9375em 0;
}

.film__url {
    text-decoration: none;
    font-size: 1.125em;
    color: rebeccapurple;
}

/* About Page Styles */

.hey__charli__heading {
    margin-left: 1.875em;
    margin-bottom: 2.5em;
}

/* Footer Styles */

.footer {
    clear: both;
    width: 100%;
    background: black;
    color: white;
    line-height: 1.25;
    font-size: .875em;
    text-align: center;
    margin-top: 3.125em;
}

.footer a {
    color: mediumpurple;
    text-decoration: none;
}

.attribution {
    font-size: .75em;
}

/* 404 Page */

.error_page {
    margin: 0 auto;

}

.error_page h1 {
    text-align: center;
}

.error_page img {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sorry {
    text-align: center;
}

/* Media Queries */
 
@media (max-width: 40em) {
    .navbar__one {
        justify-content: center;
    }
}

@media all and (max-width: 37.5em) {
    .nav__one {
        flex-flow: column wrap;
        padding: 0;
    }
    .nav__one a {
        text-align: center;
        padding: .625em;
        border-top: .0625em solid rgba(255, 255, 255, 0.3);
        border-bottom: .0625em solid rgba(0, 0, 0,   0.1);
    }
    .nav__one li:last-of-type a {
        border-bottom: none;
    }
}

@media (max-width: 40em) {
    .sidebar {
        display: none;
    }
}

@media (min-width: 40em) {
    .pagination__link {
        font-size: 3em;
    }
}

@media (min-width: 48em) {
    .pagination__link {
        font-size: 3em;
    }
}

@media (min-width: 64em) {
    .pagination__link {
        font-size: 2em;
    }
}

@media (min-width: 80em) {
    .pagination__link {
        font-size: 1em;
    }
}